body {
    margin: 0;
    padding: 0;
}

#picker-root {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Picker */
.picker-holder, .adder-holder {
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    
}
.picker-holder {
    background-color: rgba(0, 0, 0, 0.25);
}
.adder-holder {
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color .5s ease;
}

.picker-frame, .adder-frame {
    width: 75px;
    height: 75px;
}
.picker-frame {
    cursor: pointer;
    border-radius: 25%;
    transition: border-radius .5s ease;
}

.picker-frame:hover {
    border-radius: 100%;
}

.adder-holder:hover {
    background-color: rgba(0, 0, 0, 0.75);
}