body {
    margin: 0;
    padding: 0;
}

#picker-root {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Picker */
.picker-holder {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.picker-frame {
    width: 75px;
    height: 75px;
    border-radius: 25%;
    transition: border-radius .5s ease;
}

.picker-frame:hover {
    border-radius: 100%;
}