body {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Picker */
.picker-holder {
    text-align: center;
    padding: 10px;
}

.picker-frame {
    width: 75px;
    height: 75px;
    border-radius: 25%;
    transition: border-radius .5s ease;
}

.frame:hover {
    border-radius: 100%;
}